[submodule "FEI"]
	path = FEI
	url = https://github.com/JoseManuUkyo/FEI.git
[submodule "ecommerce"]
	path = ecommerce
	url = https://github.com/JoseManuUkyo/ecommerce.git
[submodule "Poema"]
	path = Poema
	url = https://github.com/JoseManuUkyo/Poema.git
